.nav{
    width: 100vw;
    padding: 1rem;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    font-weight: 700;
    color:white
}
.nav__logo span{
    color:crimson
}
.nav__links{
    display: flex;
    gap: 2rem;
}
.nav__links a{
    text-decoration: none;
    color:crimson;
}
.nav__links a:hover{
    color:white;
    border-bottom: 1px solid crimson;
    transition: 0.4s;
}
.active{
    color: white !important;;
    border-bottom: 1px solid crimson;
}